<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">
  
    
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/form" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/list" access="hasRole('ROLE_USER')" />
		<form-login login-processing-url="/login" login-page="/loginpage"
		username-parameter="username" password-parameter="password"  
		authentication-failure-url="/loginpage?auth=fail" />
		<logout logout-url="/logout" logout-success-url="/logoutpage" />  
	</http>
	  
	<authentication-manager>
	<authentication-provider >
	
		<password-encoder ref="bcryptEncoder" />
	
		<jdbc-user-service data-source-ref="dataSource"
		users-by-username-query="select username, password, enabled from users where username=?"
		authorities-by-username-query="select username, role from user_roles where username=?"/>
		
	</authentication-provider>
	</authentication-manager>
  
  <beans:bean name="bcryptEncoder"
	class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
	
	
</beans:beans>